 [submodule "rsyslog"]
	path = rsyslog
	url = git://github.com/opscode-cookbooks/rsyslog.git
 [submodule "cookbook-php-fpm"]
	path = cookbook-php-fpm
	url = git://github.com/yevgenko/cookbook-php-fpm.git
[submodule "php-fpm"]
	path = php-fpm
	url = git@github.com:jpaljasma/cookbook-php-fpm.git
