 [submodule "rsyslog"]
  	path = rsyslog
  	url = https://github.com/opscode-cookbooks/rsyslog.git
 [submodule "cookbook-php-fpm"]
 	path = cookbook-php-fpm
 	url = https://github.com/yevgenko/cookbook-php-fpm.git
